<div class="container">
  <a href="/" class="button">Home</a>
  <form action="/favoritesRemoval" method="GET">
    <button class="button" type="submit" onclick="return confirm('Remove All Favorites?')">Remove All Favorites</button>
  </form>
  <h1>My Favorite Recipes</h1>
  <ul class="recipes">
    <% favorites.forEach(f => { %>
      <li>
        <a href="/favorites/<%= f._id %>">
          <img src="<%= f.image %>" alt="<%= f.title %>">
          <h3><%= f.title %></h3>
        </a>
        <form action="/favorites/<%= f._id %>/remove" method="POST" style="display:inline;">
          <button type="submit" onclick="return confirm('Remove this favorite?')">Remove</button>
        </form>
      </li>
    <% }) %>
  </ul>
</div>